body {
	font-family: "Times New Roman", Verdana, sans-serif;
	font-size: 20px;
	background-image: url(background.jpg);
	color: #000000;
	
}
#main {
	padding: 0px;
	background-color: #ccffff;
    height:100%;
    overflow:auto;
  
}
h1 {
	font-family: "Times New Roman", Georgia, serif;
	border-bottom: 10px;
	color: #007a99;
	font-size:40px;
	text-align: justify;
	
}
h3 {
	color: black;
	margin-left:20px;
}
Addition to site.cssul#menu {
	padding: 1;
	margin-bottom: 11px;
}
ul#menu{
    list-style-type: none;
    margin: 0px;
    padding: 8px;
    overflow: hidden;
    background-color: #4f5866;
}
ul#menu li {
	display: inline;
	float: left;
}
ul#menu li a {
	background-color: #4f5866;
	color: #ffffff;
	border-style: none;
	display: inline;
	display: block;
    padding: 8px;
    text-align: justify;  
    border-color:#909090
}
	
ul#menu li a:hover {
	color: white;
	background-color: blue;	
}

ul#footer li a{
    height:0%;
}


* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 550px;
  max-height: 2000px;
  left: 0px;
  top: -480px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  padding: 5px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000073;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  left:-400;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
