<!DOCTYPE html>
<html lang="en">
 <%= include ../partials/head%>
<body>
<%= include ../partials/header%>
</div>
<style>
.tab {
    float: left;
    z-index: 1;
    top: 5%;
    left: 0;
    border: right;
    background-color: #FFF;
    overflow-x: hidden;
    padding-top: 20px;
}
#Tabs {
float:right;
height:1000px;
width:90%
}



/* Style the buttons that are used to open the tab content */
.tab button {
    width: 20%;
    height: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20%;
    display: block;
      background-color: #FFF;
      color: #818181;
}
.tablinks {
    width: 100%;
    height:  10%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
      background-color: #FFF;
      color: #818181;
}


/* Style the tab content */
.tabcontent {

}

.tab button:hover {
    background-color: #ddd;
    width:100%;
    color: black;
        
     
}

.tablink:hover {
    background-color: #ddd;
    width:100%;
    color: black;
        
     
}
#openButton {
 font-size:30px;
 cursor: pointer;
 float:left;
}

.tablink.active {
    background-color: #3498DB;
    width:100%;
    color: black;
}

.tab button.active {
    background-color: #3498DB;
    width:100%;
     color: black;
}


.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #FFF;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav-header {
    top: 0;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    
}
.sidenav .active {
    color: #FFF;
    background-color: #3498DB;
} 

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    float: right;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
#tokyo {
    transition: margin-left .5s;
    padding: 16px;
}
#london {
    transition: margin-left .5s;
    padding: 16px;
}
#aboutme {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<div class="container-fluid">
 
  <div id="mySidenav" class="sidenav" aria-expanded="true" >
  <div class="sidenav-header">
   <a  id="sidenav-header">Jaron's Blog</a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" >&times;</a> 
  </div>
  <hr>
       
  <button class="tablinks" onclick="openCity(event, 'Main'); closeNav()" id="defaultOpen">Home</button> 
   <button class="tablinks" onclick="openCity(event, 'London'); closeNav()">London</button>
  <button class="tablinks" onclick="openCity(event, 'About Me'); closeNav()">About Me</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo'); closeNav()">Tokyo</button>

</div>

    <div id="Main" class="tabcontent">
     <span onclick="openNav()" style="color: #000;" id="openButton">&#9776;</span>
        <div id="Tabs" class="container-fluid">
    <div class="jumbotron text-center">
    <h1>Jaron's Blog</h1> 
     </div>
    <h4><small>RECENT POSTS <span class="badge">2</span> </small></h4>  <p id="date2"></p>
      <hr>
    <p><h3>March 12, 2018 (Monday)</h3></p>
      <p>I dropped "my car" to be repaired. The color is being changed to blue. Then I had a midterm test for Introduction to Philosophy. </p>
     <p> <h3>March 11, 2018 (Sunday)</h3> </p>
      <p>I watched black panther, my mom had to leave half way through because of Honovi. I watched Jigsaw later, it was good. Zach did not understand the multiple time lines in the movie. </p>
       <p> <h3>March 10, 2018 (Saturday)</h3> </p>
      <p> </p>
        
        <p> <h3>January 10, 2017</h3>  </p> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <p> <h3>January 10, 2018</h3>  </p>      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
       <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <h3>February 3, 2018</h3>
      <p>Today I helped build a 34 inch ramp for a handcap person as a form of community service. We went to denny at 8:00 A.M. . After an hour of ordering, eating, and paying for the bill we proceeded to the house to start working. The process took approximately 3 hours. 
      <p> <h3>January 11, 2017</h3>  </p>      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <p> <h3>January 10, 2017</h3>  </p>      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
       <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
       </div>
       </div>
       
      <div id="London" class="tabcontent">
 <span onclick="openNav()" style="color: #009933;" id="openButton">&#9776;</span>
  <div id="Tabs" class="container-fluid">
<div class="jumbotron text-center">
    <h1>London</h1> 
     </div>
  <p id="date"></p> <hr>
  <p>London is the capital city of England.</p>
<p> <h3>January 98, 2017</h3>  </p>      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <p> <h3>January 9, 2017</h3>  </p>      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
</div>

  <div id="About Me" class="tabcontent">
   <span id="openButton" style="color: #2B31DE;" onclick="openNav()">&#9776;</span>
     <div id="Tabs" class="container-fluid">
    <div class="jumbotron text-center">
    <h1>About Me</h1> 
     </div>
     <p id="date3"></p> <hr>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>  
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>   
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    </div>
      
   <div id="Tokyo" class="tabcontent">
    <span id="openButton" style="color: #FF0000;" onclick="openNav()">&#9776;</span>
       <div id="Tabs" class="container-fluid">
    <div class="jumbotron text-center">
    <h1>Tokyo</h1> 
     </div>
        <div id="date4"></div> <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>    
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    </div>
    </div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<%= include ../partials/footer%>
<%= include ../partials/modal%>
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
function openNav() {
    document.getElementById("mySidenav").style.width = "30%";
    document.getElementById("main").style.marginLeft= "30%";
    document.getElementById("aboutme").style.marginLeft = "30%";
        document.getElementById("tokyo").style.marginLeft = "30%";
            document.getElementById("london").style.marginLeft = "30%";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
     document.getElementById("aboutme").style.marginLeft= "0";
     document.getElementById("tokyo").style.marginLeft= "0";
     document.getElementById("london").style.marginLeft= "0";
}
var d = new Date();
document.getElementById("date").innerHTML = d;
document.getElementById("date2").innerHTML = d;
document.getElementById("date3").innerHTML = d;
document.getElementById("date4").innerHTML = d;
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

function updateClock() {
    var now = new Date(), // current date
        months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]; // you get the idea
         // again, you get the idea
        
         
         time = now.getHours() + ':' + now.getMinutes(), 
        // a cleaner way than string concatenation
        date = months[now.getMonth()] + " " + 
                now.getDate() + ", " +
                now.getFullYear();

    // set the content of the element with the ID time to the formatted string
    document.getElementById('date').innerHTML = [date, time].join(' ');
    document.getElementById('date2').innerHTML = [date, time].join(' ');
    document.getElementById('date3').innerHTML = [date, time].join(' ');
    document.getElementById('date4').innerHTML = [date, time].join(' ');
    // call this function again in 1000ms
    setTimeout(updateClock, 1000);
}
updateClock();
</script>
</body>
</html>

