<!DOCTYPE html>
<html lang="en">
<%= include ../partials/head%>
<body>
<%= include ../partials/header%>

  
<div class="container" style="height:800px">
  <div class="row">
   <div class="col-lg-1">
   <p id="time"> </p>
   </div>
     <div class="col-lg-10">
     <div class="jumbotron text-center">
  <h1>Contact Us</h1> 
</div>
     <form>
    <div class="form-group">
      <label for="comment">Leave your reason for messaging us:</label>
      <textarea class="form-control" rows="5" id="comment" ></textarea>
    </div>
     </div>
  </form>
    <div class="col-lg-1">
    </div>
   
  </div>
</div>
<%= include ../partials/footer%>
<%= include ../partials/modal%>
</body>
<script>

</script>
</html>

