<!DOCTYPE html>
<html lang="en">
 <%= include ../partials/head%>
<%= include ../partials/header%>
<body onload="init()">
<div class="container-fluid" style="height:800px">
<h3> draw something either on your phone or computer</h3>
  <div id="sketchpadapp">
       
        <div class="rightside">
            <canvas id="sketchpad" height="320" width="320">
            </canvas>
        </div>
         <div class="leftside">
             <input type="submit" value="Clear Sketchpad" id="clearbutton" onclick="clearCanvas(canvas,ctx);"> <br>
             <input type="submit" id="clearbutton" name="Random" value="Random" onclick="setRandomcolor();"><br>
           <input type="submit"  value="Eraser" id="clearbutton" onclick='Eraser();'> <br>
              <input type="submit" value="Pencil" id="clearbutton"  onclick='Pencil();'> <br>
        </div>
        <div class="canvasright">
           R<input type="range" id='colorR' min="0" max="255" class="colorR" value = '0' onchange='setR();'> 
             G<input type="range" id='colorG' min="0" max="255" class="colorG" value = '0' onchange='setG();'>
             B<input type="range" id='colorB' min="0" max="255" class="colorB" value = '0' onchange='setB();'> 
              Chiaroscuro<input type="range" id='colorRandom' class="Chiaroscuro" min="0" max="255" value = '0' onchange='setChiaroscuro();'> 
              Random<input type="checkbox" id="Random" value="Random"> <br>

              <!-- Use slider value from 0/100.  We need to divide by 100 in javascript before we use it -->
               Opaque<input type="range" id='opaque' min="0" max="100" class="slider" value = '100' onchange='setOpaque();'> 

             Size<input type="range" id='sizeSelect' class="size" min="5" max="50" value = '5' step="5" onchange='setSize();'>
             </div>
    </div>
    
<title>Gamedev Canvas Workshop</title>


<style>
/* Some CSS styling */
#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.leftside {
    padding:10px;
    border-radius:4px;
    float:left; 
}
.colorR {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.colorR::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #990000;
    cursor: pointer;
}
.colorR::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #990000;
    cursor: pointer;
}
.colorG {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.colorG::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #006400;
    cursor: pointer;
}
.colorG::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #006400;
    cursor: pointer;
}
.colorB {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.colorB a{
transition: 0.3s;
}
.colorB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #000080;
    cursor: pointer;
}
.colorB::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000080;
    cursor: pointer;
}

.Chiaroscuro {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.Chiaroscuro:hover {
    opacity: 1;
}

.Chiaroscuro::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

.Chiaroscuro::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}
 .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
 .size {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.size:hover {
    opacity: 1;
}

.size::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.size::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.rightside {
    margin-left:10px;
    float:left;
}
.canvasright {
padding-left:10px;
float:left;
}
.range {
width:100%
}
#sketchpad {
    border:2px solid #888;
    border-radius:4px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}
#clearbutton {
    font-size: 15px;
    padding: 10px;
    -webkit-appearance: none;
    background: #eee;
    border: 1px solid #888;
    Width: 150px;
}
#NewColor {
    font-size: 15px;
    padding: 10px;
    -webkit-appearance: none;
    background: #eee;
    border: 1px solid #888;
      Width: 150px;
}

    </style>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<%= include ../partials/footer%>
<%= include ../partials/modal%>
   <script type="text/javascript">
    // Variables for referencing the canvas and 2dcanvas context
    var canvas,ctx,size = 10,r=0,g=0,b=0,a=1.0;

    // Variables to keep track of the mouse position and left-button status
    var mouseX,mouseY,mouseDown=0;

    //Return true/false if checkbox is checked
    function isRandomColor() {
        return document.getElementById('Random').checked;
    }

        //update the slider buttons to match the rgb variables
    function updateRGBSliders() {
        document.getElementById('colorR').value = '' + r;
        document.getElementById('colorG').value = '' + g;
        document.getElementById('colorB').value = '' + b;
        document.getElementById('colorRandom').value = '0';

    }

    var lastRandomUpdateTime = 0; //last timestamp we generated a new random color
    var updateTimeIntervalMilliseconds = 250; //time that must pass before generating new random color
    function needsNewRandomColor() {
        var now = (new Date()).getTime() ;
        var timeElapsed = now - lastRandomUpdateTime;
        if(timeElapsed > updateTimeIntervalMilliseconds) {
            lastRandomUpdateTime = now;
            return true;
        }

        return false;
    }

    // Draws a dot at a specific position on the supplied canvas name
    // Parameters are: A canvas context, the x position, the y position, the size of the dot
    function drawDot(ctx,x,y,size) {

        if(isRandomColor() && needsNewRandomColor()) {
            setRandomcolor();
            updateRGBSliders();
        }

        // Select a fill style
        ctx.fillStyle = 'rgba(' + r + ',' + g + ',' + b + ',' + a + ')';

        // Draw a filled circle
        ctx.beginPath();
        ctx.arc(x, y, size, 0, Math.PI*2, true);
        ctx.closePath();
        ctx.fill();
    }

    // Clear the canvas context using the canvas width and height
    function clearCanvas(canvas,ctx) {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    }

    // Keep track of the mouse button being pressed and draw a dot at current location
    function sketchpad_mouseDown() {
        mouseDown=1;
        drawDot(ctx,mouseX,mouseY,size);
    }

    // Keep track of the mouse button being released
    function sketchpad_mouseUp() {
        mouseDown=0;
    }

    // Keep track of the mouse position and draw a dot if mouse button is currently pressed
    function sketchpad_mouseMove(e) {
        // Update the mouse co-ordinates when moved
        getMousePos(e);

        // Draw a dot if the mouse button is currently being pressed
        if (mouseDown==1) {
            drawDot(ctx,mouseX,mouseY,size);
        }
    }

    // Get the current mouse position relative to the top-left of the canvas
    function getMousePos(e) {
        if (!e)
            var e = event;

        if (e.offsetX) {
            mouseX = e.offsetX;
            mouseY = e.offsetY;
        }
        else if (e.layerX) {
            mouseX = e.layerX;
            mouseY = e.layerY;
        }
     }


    // Set-up the canvas and add our event handlers after the page has loaded
    function init() {
        // Get the specific canvas element from the HTML document
        canvas = document.getElementById('sketchpad');

        // If the browser supports the canvas tag, get the 2d drawing context for this canvas
        if (canvas.getContext)
            ctx = canvas.getContext('2d');

        // Check that we have a valid context to draw on/with before adding event handlers
        if (ctx) {
            canvas.addEventListener('mousedown', sketchpad_mouseDown, false);
            canvas.addEventListener('mousemove', sketchpad_mouseMove, false);
            window.addEventListener('mouseup', sketchpad_mouseUp, false);
            
            canvas.addEventListener('touchstart', sketchpad_touchStart, false);
            canvas.addEventListener('touchmove', sketchpad_touchMove, false);
        }
    }
      function sketchpad_touchStart() {
        // Update the touch co-ordinates
        getTouchPos();


        drawDot(ctx,touchX,touchY,size);

        // Prevents an additional mousedown event being triggered
        event.preventDefault();
    }

    // Draw something and prevent the default scrolling when touch movement is detected
    function sketchpad_touchMove(e) { 
        // Update the touch co-ordinates
        getTouchPos(e);

        // During a touchmove event, unlike a mousemove event, we don't need to check if the touch is engaged, since there will always be contact with the screen by definition.
        drawDot(ctx,touchX,touchY,size); 

        // Prevent a scrolling action as a result of this touchmove triggering.
        event.preventDefault();
    }

    // Get the touch position relative to the top-left of the canvas
    // When we get the raw values of pageX and pageY below, they take into account the scrolling on the page
    // but not the position relative to our target div. We'll adjust them using "target.offsetLeft" and
    // "target.offsetTop" to get the correct values in relation to the top left of the canvas.
    function getTouchPos(e) {
        if (!e)
            var e = event;

        if(e.touches) {
            if (e.touches.length == 1) { // Only deal with one finger
                var touch = e.touches[0]; // Get the information for finger #1
                touchX=touch.pageX-touch.target.offsetLeft;
                touchY=touch.pageY-touch.target.offsetTop;
            }
        }
    }
    function setR(){
      r = document.getElementById("colorR").value;
      document.getElementById("colorRandom").value = "0";
    }
    function setG(){
      g = document.getElementById("colorG").value;
      document.getElementById("colorRandom").value = "0";
    }
    function setB(){
      b = document.getElementById("colorB").value;
      document.getElementById("colorRandom").value = "0";
    }
     function setChiaroscuro(){
      r = document.getElementById("colorRandom").value;
      g = r;
      b = r;
      document.getElementById("colorB").value = '' + r;
      document.getElementById("colorG").value = '' + r;
      document.getElementById("colorR").value = '' + r;
    }
    function setOpaque(){
        //must divide by 100 to get the fraction opacity
        a = document.getElementById("opaque").value / 100.0;
    }

    function setRandomcolor(){
      r = getRndInteger(0, 255);
      g = getRndInteger(0, 255);
      b = getRndInteger(0, 255);
      document.getElementById('opaque').value = '100';
      updateRGBSliders();
    }
    
    function getRndInteger(min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
    }   

    function Eraser() {
        r = 255;
        g = 255;
        b = 255;
        a = 1.0;
        document.getElementById('opaque').value = '100';
        document.getElementById('Random').checked = false;
        updateRGBSliders();
    }

    function Pencil() {
        r = 0;
        g = 0;
        b = 0;
        a = 1.0;
        document.getElementById('opaque').value = '100';
        document.getElementById('Random').checked = false;
        updateRGBSliders();
    }

    function setSize(){
      size = document.getElementById("sizeSelect").value;
    }
    
</script>
</body>
</html>