<!DOCTYPE html>
<html lang="en">
 <%= include ../partials/head%>
<body>
<%= include ../partials/header%>
</div>
<div class="container-fluid" style="width:100%;">
    <div class="sidenav col-lg-2">
</div>

<div class="col-lg-8" id="homeboot">
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZuK0Om1dxdo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CTLWczhPMPo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OsU0BuHOX1w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cc0TNDp_Oec" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 </div>
 <p>
 </p>
 </div>
 
    <div class="sidenav col-lg-2">
    </div>
    </div>

<%= include ../partials/footer%>
<%= include ../partials/modal%>
</body>
<script>

</script>
</html>
