<!DOCTYPE html>
<html lang="en">
 <%= include ../partials/head%>
<body>
<%= include ../partials/header%>
</div>

<div class="container-fluid" style="height:800px">
 <div class="jumbotron text-center">
     <h1>Sign up phone</h1>
     </div>
  <div class="row">
   <div class="col-lg-2">
   </div>
     <div class="col-lg-8">
     <form>
    <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-sm-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group col-sm-12">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-sm-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-sm-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    
    <div class="form-row">
    <div class="form-group col-sm-12">
  <br><p><button type="submit" class="btn btn-primary btn-block">Sign in</button></p>
  </div>
  </div>
</div>
</form>
<div class="col-lg-2">
   </div>
     </div>
      </div>
</div>
</div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<%= include ../partials/footer%>
<%= include ../partials/modal%>
</body>
</html>

