<!DOCTYPE html>
<html lang="en">
 <%= include ../partials/head%>
<body>
<%= include ../partials/header%>
</div>
<div class="jumbotron text-center">
  <h1>Users</h1> 
</div>
  <style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  height: 40%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

</style>
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
<div class="container-fluid">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<div class="table-responsive">       
  <table class="table table-hover table-striped" id="myTable" data-toggle="collapse"%>
    <thead class="thead-dark">
      <tr>
      <th>Name</th>
      <th>User Name</th>
     <th>Email</th>
      <th>Age</th>
      <th>Admin</th>
      <th>Location</th>
      </tr>
    </thead> 
    <tbody>
      <!-- Loop through the users and create a table row for each user-->
      <% for (var i = 0; i < users.length; i++) { 
        // current user
        var user = users[i];
      %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.age %></td>
          <td><%= user.admin %></td>
          <td><%= user.location %></td>
        </tr>    
      <% } %>

    </tbody>
  </table>
</div>
</div>
<%= include ../partials/footer%>
<%= include ../partials/modal%>
</body>
</html>

