<!-- views/partials/header.ejs -->
<nav class="navbar navbar-inverse" >
  <div class="container-fluid" >
    <div class="navbar-header">
    <a class="navbar-brand" href="/">JaronMagana</a> 
      <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
       </div>
       </button>
    <div class="collapse navbar-collapse" id="myNavbar">
     
          <ul class="nav navbar-nav navbar-left"
      
          <li>
            <li <% if (page_name === 'Home') { %> class="active" <% } %> ><a href='/'> Home </a></li>
            <li <% if (page_name === 'About Us') { %> class="active" <% } %> > <a href='/aug'>About Us</a></li>
            <li <% if (page_name === 'Contact Us') { %> class="active" <% } %> ><a href='/contact'>Contact Us</a></li> 
            <li <% if (page_name === 'Users') { %> class="active" <% } %> ><a href='/users'>Users</a></li>
            <li <% if (page_name === 'signup2') { %> class="active" <% } %> ><a href='/signup2'>Sign Up 2</a></li>
            <li <% if (page_name === 'Blog') { %> class="active" <% } %> ><a href='/blog'>Blog</a></li>
            <li <% if (page_name === 'videos') { %> class="active" <% } %> ><a href='/videos'>Videos</a></li>
             <li class="dropdown">
            <a class="dropdown-toggle" href="#" id="myNavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Html Canvas <span class="caret"></span> </a>
    <ul class="dropdown-menu">
            <li <% if (page_name === 'game') { %> class="active" <% } %> > <a class="dropdown-item" href='/game'>Game</a></li>
            <li <% if (page_name === 'drawboard') { %> class="active" <% } %> ><a class="dropdown-item" href='/drawboard'>Drawboard</a></li> 
    </ul>
    
  </li>
  
            </li>
             </ul>
             <ul class="nav navbar-nav navbar-left"
            <form id="frmSearch">
              <li><input type="search"  name="search" placeholder="Search.." id="txtSearch"><li>
              </form>
 </ul>
 <ul class="nav navbar-nav navbar-right"
 <li><button onclick="document.getElementById('id02').style.display='block'" class="btn navbar-btn"  id="NAVBTN"><span class="glyphicon glyphicon-log-in"></span> Login </button> </li>
<li><button onclick="document.getElementById('id01').style.display='block'" class="btn navbar-btn" id="NAVBTN"><span class="glyphicon glyphicon-user"></span> Sign Up </button> </li>
</ul>
<style>
input[type=search] {
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: relative;
    top:5px;
}


/* Modal Header */
.modal-header {
    padding: 16px 16px;
    background-color: #808080;
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #808080;
    color: white;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=repassword] {
    width: 100%;
    padding: 10px 10px;
    margin: 0px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
#NAVBTN {
    background-color: #222;
    color: grey;
    text-align: center;
    border: none;
    cursor: pointer;
}

#SIGNUP {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 110px;
    float: right;
    font-size: 13px;
}
#LOGIN {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 100%;
    float: right;
    font-size: 13px;
}
button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px;
    background-color: #f44336;
    color: white;
    float: left;
    width: 110px;
    font-size: 13px;
    text-align: center;
    border: none;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 50%;
    border-radius: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    opacity:1;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

</style>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
function myFunction2() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
function myFunction3() {
    var x = document.getElementById("firstPass");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
function myFunction4() {
    var x = document.getElementById("secPass");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

</script>
   </div>
    </div>
  </div>
</nav>
