<!-- views/partials/modal.ejs -->
<div id="id01" class="modal" style="width:auto;">
  <form class="modal-content animate" action="/signup" method="post">
  
     <div class="imgcontainer">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container" style="width:auto;">
    <p>
    <label>First Name:</label>
    <input type="text" id="usrfirst" placeholder="Enter First Name" name="firstname" required>
    </p>
    <p>
      <label>Last Name:</label>
      <input type="text" id="usrlast" placeholder="Enter Last Name" name="lastname" required>
    </p>
    <p>
      <label>Email:</label>
      <input type="email" id="email" placeholder="Enter Email" name="email" required>
       </p>
    <p>
      <label><b>Username:</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
 </p>
    <p>
      <label><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" id="firstPass" required>
      <small id="passwordHelpBlock" class="form-text text-muted">
      Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters.
      </small>
       </p>
       <p>
      <label><b>Re-Enter Password:</b></label>
        <input type="password" placeholder="Enter Password" id="secPass" required>
       </p>
       <p>
      <input type="checkbox" onclick="myFunction3(); myFunction4()"> Show Password </input>
         </p>
    <p>
      <label>Age:</label>
    <select class="form-control" id="age" name="age"> 
    <option>Please select age</option>
    <option>1 year old</option>
    <option>2 years old</option>
    <option>3 years old</option>
    <option>4 years old</option>
    <option>5 years old</option>
    <option>6 years old</option>
    <option>7 years old</option>
    <option>8 years old</option>
    <option>9 years old</option>
    <option>10 years old</option>
    <option>11 years old</option>
    <option>12 years old</option>
    <option>13 years old</option>
    <option>14 years old</option>
    <option>15 years old</option>
    <option>16 years old</option>
    <option>17 years old</option>
    <option>18 years old</option>
    </select>
     </p>
    <p>
    <label for="sel1">State:</label>
    <select class="form-control" id="state" name="state">
    <option>Please select state</option>
    <option>Alabama</option>
    <option>Alaska</option>
    <option>Arizona</option>
    <option>Arkansas</option>
    <option>California</option>
    <option>Colorado</option>
    <option>Connecticut</option>
    <option>Delaware</option>
    <option>Florida</option>
    <option>Georgia</option>
    <option>Hawaii</option>
    <option>Idaho</option>
    <option>Illinois</option>
    <option>Indiana</option>
    <option>Iowa</option>
    <option>Kansas</option>
    <option>Kentucky</option>
    <option>Louisiana</option>
    <option>Maine</option>
    <option>Maryland</option>
    <option>Massachusetts</option>
    <option>Michigan</option>
    <option>Minnesota</option>
    <option>Mississippi</option>
    <option>Missouri</option>
    <option>Montana</option>
    <option>Nebraska</option>
    <option>Nevada</option>
    <option>New Hampshire</option>
    <option>New Jersey</option>
    <option>New Mexico</option>
    <option>New York</option>
    <option>North Carolina</option>
    <option>North Dakota</option>
    <option>Ohio</option>
    <option>Oklahoma</option>
    <option>Oregon</option>
    <option>Pennsylvania</option>
    <option>Rhode Island</option>
    <option>South Carolina</option>
    <option>South Dakota</option>
    <option>Tennessee</option>
    <option>Texas</option>
    <option>Utah</option>
    <option>Vermont</option>
    <option>Virginia</option>
    <option>Washington</option>
    <option>West Virginia</option>
    <option>Wisconsin</option>
    <option>Wyoming</option>
    </select>
 </p>
    <p>
    <label>Country:</label>
    <select class="form-control" id="country" name="country"> 
    <option>Please select country</option>
    <option>United States</option>
    <option>Outside United States</option>
    
    </select>
    </p>
     <p>By creating an account you agree to our <a href="/terms" style="color:dodgerblue">Terms & Privacy</a>.</p>
    
      <button type="submit" align="left" class="button" id="SIGNUP">Sign Up</button>

      <button type="button" align="right" onclick="document.getElementById('id01').style.display='btn'" class="cancelbtn">Cancel</button>
       
  </div>
</div>
  </form>
  
<div id="id02" class="modal">
  
  <form class="modal-content animate" action="/login" method="post">
   
   
     <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="https://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" alt="Avatar" class="avatar">
    </div>
   <div class="container" style="width:auto;">
   <p>
     <label><b>Username:</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
 </p>
    <p>
      <label><b>Password:</b></label>
       <input type="password" placeholder="Enter Password" id="myInput" required>
        </p>
    <p>
      <input type="checkbox" onclick="myFunction2()"> Show Password </input>
         </p>
    <p>
      <button type="submit" class="btn-block" id="LOGIN">Login</button>
       </p>
    <p>
      <label>
        <input type="checkbox"> Remember me </input>
      </label>
       </p>
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw"><a href="#"> <center> Forgot password? </center> </a></span>
    </div>
    </form>
